<%= form_for :upscope_session, url: cobrowse_path, method: :post do |f| %>
  <%= f.hidden_field :agent_name, value: @agent_name %>
  <%= f.hidden_field :agent_email, value: @username %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :lookup_code %>
        <%= f.text_field :lookup_code, class: 'form-control' %>
        <div class="invalid-feedback"></div>
      </div>
    </div>
  </div>
<% end %>
