<%= form_for @item do |f| %>
  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :due_date, "Due Date" %>
    <%= f.date_field :due_date, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-success' %>
  <%= link_to "Back", :back, class: 'btn btn-default' %>
<% end %>

