<%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <td>Description</td>
      <td>Due Date</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr class="item-<%= item.id %>">
        <td><%= item.description %></td>
        <td><%= item.due_date %></td>
        <td>
          <% unless item.completed %>
            <div class="btn-group btn-group-sm" role="group">
              <%= link_to 'Complete', complete_item_path(item), class: 'btn btn-success', method: :patch %>
              <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-primary' %>
              <%= link_to 'Delete', item_path(item), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

