<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>

      <%= link_to 'Co-browsing code', '#', class: 'upscope-link' %>
    </div>

    <script>
      (function(w, u, d){var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};var l = function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://code.upscope.io/4vpK14DAPB.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(typeof u!=="function"){w.Upscope=i;l();}})(window, window.Upscope, document);

      Upscope('init', {});

      Upscope('on', 'sessionStart', 'sessionContinue', (e) => {
        const link = document.querySelector('.upscope-link')

        link.style.display = 'none'
      })

      Upscope('on', 'sessionEnd', (e) => {
        const link = document.querySelector('.upscope-link')

        link.style.display = 'block'
      })
    </script>
  </body>
</html>
